.form-editar-usuario-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.form-editar-usuario-form {
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

/* Título dentro del formulario */
.form-editar-usuario-titulo {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
  color: #007bff;
}

.form-editar-usuario-label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
}

.form-editar-usuario-input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.form-editar-usuario-input:focus {
  border-color: #007bff;
}

/* Botonera */
.form14-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

/* Botones estilo moderno */
.custom212-btn {
  border: 2px solid #007bdb;
  background-color: white;
  color: #007bdb;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: none;
  margin: 10px;
  outline: none;
}

.custom212-btn:hover {
  background-color: #007bdb;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 123, 219, 0.3);
}

.custom212-btn.selected {
  background-color: #007bdb;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 123, 219, 0.3);
}